# Star Wars Analysis

Lets start with collecting the data and loading it into a dataframe using pandas.

In [1]:
import pandas as pd

swdf = pd.read_csv('https://query.data.world/s/lvvugqww5m5lu55mlpgabdwxmtykwc', encoding="ISO-8859-1")

Now, lets check the contents of the dataset.

In [2]:
swdf.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [18]:
print(len(swdf.columns))
swdf.columns

38

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?æ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [13]:
swdf.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RespondentID,1186.0,3.290128e+09,1.055639e+06,3.288373e+09,3.289451e+09,3.290147e+09,3.290814e+09,3.292880e+09

Now, it is clear that only the ResponseID is in the required format. Lets start cleaning the data and formatting the data according to our use.

Step 1: Check for null values. If you find any, replace the dataframe omitting that null valued row.

In [5]:
# check for null values
swdf["RespondentID"].isnull().sum()

1

In [6]:
#replacing the null values
swdf = swdf[pd.notnull(swdf["RespondentID"])]

In [7]:
#checking once again
swdf["RespondentID"].isnull().sum()

0

Step 2: Checking if the other columns also have the data in the required format.

In [8]:
swdf['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts()

Yes    936
No     250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

In [10]:
for col in swdf.columns:
    print(swdf[col].value_counts(), '\n')

3.291092e+09    1
3.290345e+09    1
3.290351e+09    1
3.288558e+09    1
3.290360e+09    1
3.290365e+09    1
3.290372e+09    1
3.290375e+09    1
3.290380e+09    1
3.290387e+09    1
3.290399e+09    1
3.291392e+09    1
3.290402e+09    1
3.290409e+09    1
3.290412e+09    1
3.290418e+09    1
3.290423e+09    1
3.290347e+09    1
3.290409e+09    1
3.289920e+09    1
3.290337e+09    1
3.290266e+09    1
3.290407e+09    1
3.290280e+09    1
3.290662e+09    1
3.290287e+09    1
3.290289e+09    1
3.290296e+09    1
3.290298e+09    1
3.290305e+09    1
               ..
3.288591e+09    1
3.290655e+09    1
3.292719e+09    1
3.289446e+09    1
3.292731e+09    1
3.290597e+09    1
3.289532e+09    1
3.291023e+09    1
3.292765e+09    1
3.289986e+09    1
3.289598e+09    1
3.290651e+09    1
3.292664e+09    1
3.292654e+09    1
3.292581e+09    1
3.289553e+09    1
3.289726e+09    1
3.288640e+09    1
3.292565e+09    1
3.290639e+09    1
3.292573e+09    1
3.292583e+09    1
3.292640e+09    1
3.292587e+09    1
3.292597e+09    1
3.292609e+09    1
3.288423e+09    1
3.292635e+09    1
3.292638e+09    1
3.290768e+09    1
Name: RespondentID, Length: 1186, dtype: int64

Yes    936
No     250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

Yes    552
No     284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

Star Wars: Episode I  The Phantom Menace    673
Name: Which of the following Star Wars films have you seen? Please select all that apply., dtype: int64

Star Wars: Episode II  Attack of the Clones    571
Name: Unnamed: 4, dtype: int64

Star Wars: Episode III  Revenge of the Sith    550
Name: Unnamed: 5, dtype: int64

Star Wars: Episode IV  A New Hope    607
Name: Unnamed: 6, dtype: int64

Star Wars: Episode V The Empire Strikes Back    758
Name: Unnamed: 7, dtype: int64

Star Wars: Episode VI Return of the Jedi    738
Name: Unnamed: 8, dtype: int64

4    237
6    168
3    130
1    129
5    100
2     71
Name: Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., dtype: int64

5    300
4    183
2    116
3    103
6    102
1     32
Name: Unnamed: 10, dtype: int64

6    217
5    203
4    182
3    150
2     47
1     36
Name: Unnamed: 11, dtype: int64

1    204
6    161
2    135
4    130
3    127
5     79
Name: Unnamed: 12, dtype: int64

1    289
2    235
5    118
3    106
4     47
6     41
Name: Unnamed: 13, dtype: int64

2    232
3    220
1    146
6    145
4     57
5     36
Name: Unnamed: 14, dtype: int64

Very favorably                                 610
Somewhat favorably                             151
Neither favorably nor unfavorably (neutral)     44
Unfamiliar (N/A)                                15
Somewhat unfavorably                             8
Very unfavorably                                 1
Name: Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her., dtype: int64

Very favorably                                 552
Somewhat favorably                             219
Neither favorably nor unfavorably (neutral)     38
Somewhat unfavorably                            13
Unfamiliar (N/A)                                 6
Very unfavorably                                 3
Name: Unnamed: 16, dtype: int64

Very favorably                                 547
Somewhat favorably                             210
Neither favorably nor unfavorably (neutral)     48
Somewhat unfavorably                            12
Unfamiliar (N/A)                                 8
Very unfavorably                                 6
Name: Unnamed: 17, dtype: int64

Somewhat favorably                             269
Very favorably                                 245
Neither favorably nor unfavorably (neutral)    135
Somewhat unfavorably                            83
Unfamiliar (N/A)                                52
Very unfavorably                                39
Name: Unnamed: 18, dtype: int64

Very favorably                                 591
Somewhat favorably                             159
Neither favorably nor unfavorably (neutral)     43
Unfamiliar (N/A)                                17
Somewhat unfavorably                             8
Very unfavorably                                 7
Name: Unnamed: 19, dtype: int64

Neither favorably nor unfavorably (neutral)    213
Unfamiliar (N/A)                               156
Somewhat favorably                             143
Very unfavorably                               124
Very favorably                                 110
Somewhat unfavorably                            68
Name: Unnamed: 20, dtype: int64

Very favorably                                 310
Somewhat favorably                             171
Very unfavorably                               149
Somewhat unfavorably                           102
Neither favorably nor unfavorably (neutral)     84
Unfamiliar (N/A)                                10
Name: Unnamed: 21, dtype: int64

Neither favorably nor unfavorably (neutral)    236
Somewhat favorably                             223
Unfamiliar (N/A)                               148
Very favorably                                 142
Somewhat unfavorably                            63
Very unfavorably                                 8
Name: Unnamed: 22, dtype: int64

Neither favorably nor unfavorably (neutral)    248
Somewhat favorably                             153
Very favorably                                 138
Unfamiliar (N/A)                               132
Somewhat unfavorably                            96
Very unfavorably                                45
Name: Unnamed: 23, dtype: int64

Very favorably                                 474
Somewhat favorably                             229
Neither favorably nor unfavorably (neutral)     79
Somewhat unfavorably                            23
Unfamiliar (N/A)                                15
Very unfavorably                                 7
Name: Unnamed: 24, dtype: int64

Very favorably                                 562
Somewhat favorably                             185
Neither favorably nor unfavorably (neutral)     57
Unfamiliar (N/A)                                10
Somewhat unfavorably                            10
Very unfavorably                                 6
Name: Unnamed: 25, dtype: int64

Very unfavorably                               204
Neither favorably nor unfavorably (neutral)    164
Somewhat favorably                             130
Very favorably                                 112
Unfamiliar (N/A)                               109
Somewhat unfavorably                           102
Name: Unnamed: 26, dtype: int64

Neither favorably nor unfavorably (neutral)    207
Somewhat favorably                             183
Very favorably                                 168
Unfamiliar (N/A)                               164
Somewhat unfavorably                            58
Very unfavorably                                34
Name: Unnamed: 27, dtype: int64

Very favorably                                 605
Somewhat favorably                             144
Neither favorably nor unfavorably (neutral)     51
Unfamiliar (N/A)                                10
Very unfavorably                                 8
Somewhat unfavorably                             8
Name: Unnamed: 28, dtype: int64

Han                                 325
I don't understand this question    306
Greedo                              197
Name: Which character shot first?, dtype: int64

No     615
Yes    213
Name: Are you familiar with the Expanded Universe?, dtype: int64

No     114
Yes     99
Name: Do you consider yourself to be a fan of the Expanded Universe?æ, dtype: int64

No     641
Yes    427
Name: Do you consider yourself to be a fan of the Star Trek franchise?, dtype: int64

Female    549
Male      497
Name: Gender, dtype: int64

45-60    291
> 60     269
30-44    268
18-29    218
Name: Age, dtype: int64

$50,000 - $99,999      298
$25,000 - $49,999      186
$100,000 - $149,999    141
$0 - $24,999           138
$150,000+               95
Name: Household Income, dtype: int64

Some college or Associate degree    328
Bachelor degree                     321
Graduate degree                     275
High school degree                  105
Less than high school degree          7
Name: Education, dtype: int64

East North Central    181
Pacific               175
South Atlantic        170
Middle Atlantic       122
West South Central    110
West North Central     93
Mountain               79
New England            75
East South Central     38
Name: Location (Census Region), dtype: int64

As the data is not in the required fomat, we need to change it. In each step, I would reduce few columns data into desired format.

Step3: col 1 and col 2 has Yes/No values, so we can easily change into True/False.

In [14]:
#crearting a dictionary which is used for mapping
yes_no = {"Yes":True,"No":False}

In [15]:
for col in ['Have you seen any of the 6 films in the Star Wars franchise?',
        'Do you consider yourself to be a fan of the Star Wars film franchise?']:
    swdf[col]= swdf[col].map(yes_no)

In [16]:
print(swdf['Do you consider yourself to be a fan of the Star Wars film franchise?'].value_counts())
print(swdf['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts())

True     552
False    284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64
True     936
False    250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

Step 4: For col 3 to 8, it is multiple choice question, **"Which of the following Star Wars films have you seen? Please select all that apply."** where the reviewer was asked if they had watched the episode.

So, I am renaming all the *unnamed* to `seen#` where # represents the number of the episode. `NaN` is an empty value. You need not worry about it.

In [ ]:
import numpy as np

movie_mapping = {
    "Star Wars: Episode I  The Phantom Menace": True,
    "Star Wars: Episode II  Attack of the Clones": True,
    "Star Wars: Episode III  Revenge of the Sith": True,
    "Star Wars: Episode IV  A New Hope": True,
    "Star Wars: Episode V The Empire Strikes Back": True,
    "Star Wars: Episode VI Return of the Jedi": True,
    np.nan: False
}

In [ ]:
for col in swdf.columns[3:9]:
    swdf[col]=swdf[col].map(movie_mapping)

In [ ]:
for col in swdf.columns[3:9]:
    print(swdf[col].value_counts())

In [19]:
swdf = swdf.rename(columns = {
       'Which of the following Star Wars films have you seen? Please select all that apply.':"seen1",
       'Unnamed: 4':"seen2", 
       'Unnamed: 5':"seen3", 
       'Unnamed: 6':"seen4", 
       'Unnamed: 7':"seen5",
       'Unnamed: 8':"seen6"})

In [20]:
swdf.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,seen1,seen2,seen3,seen4,seen5,seen6,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

Step 5: For col 9 to 14, it is also multiple choice question, **"Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film."** where the reviewer was asked to rank the episodes.

So, I am renaming all the *unnamed* to `rank#` where # represents the number of the episode. `NaN` is an empty value. You need not worry about it.

In [ ]:
swdf[swdf.columns[9:15]] = swdf[swdf.columns[9:15]].astype(float)

In [24]:
swdf = swdf.rename(columns={
        "Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.": "rank1",
        "Unnamed: 10": "rank2",
        "Unnamed: 11": "rank3",
        "Unnamed: 12": "rank4",
        "Unnamed: 13": "rank5",
        "Unnamed: 14": "rank6"
        })

In [26]:
swdf.head().transpose()

,1,2,3,4,5
RespondentID,3.29288e+09,3.29288e+09,3.29277e+09,3.29276e+09,3.29273e+09
Have you seen any of the 6 films in the Star Wars franchise?,True,False,True,True,True
Do you consider yourself to be a fan of the Star Wars film franchise?,True,NaN,False,True,True
seen1,Star Wars: Episode I The Phantom Menace,NaN,Star Wars: Episode I The Phantom Menace,Star Wars: Episode I The Phantom Menace,Star Wars: Episode I The Phantom Menace
seen2,Star Wars: Episode II Attack of the Clones,NaN,Star Wars: Episode II Attack of the Clones,Star Wars: Episode II Attack of the Clones,Star Wars: Episode II Attack of the Clones
seen3,Star Wars: Episode III Revenge of the Sith,NaN,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode III Revenge of the Sith
seen4,Star Wars: Episode IV A New Hope,NaN,NaN,Star Wars: Episode IV A New Hope,Star Wars: Episode IV A New Hope
seen5,Star Wars: Episode V The Empire Strikes Back,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode V The Empire Strikes Back
seen6,Star Wars: Episode VI Return of the Jedi,NaN,NaN,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode VI Return of the Jedi
ranking_1,3,NaN,1,5,5
rank2,2,NaN,2,6,4
rank3,1,NaN,3,1,6
rank4,4,NaN,4,2,2
rank5,5,NaN,5,4,1
rank6,6,NaN,6,3,3
"Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.",Very favorably,NaN,Somewhat favorably,Very favorably,Very favorably
Unnamed: 16,Very favorably,NaN,Somewhat favorably,Very favorably,Somewhat favorably
Unnamed: 17,Very favorably,NaN,Somewhat favorably,Very favorably,Somewhat favorably
Unnamed: 18,Very favorably,NaN,Somewhat favorably,Very favorably,Somewhat unfavorably
Unnamed: 19,Very favorably,NaN,Somewhat favorably,Very favorably,Very favorably
Unnamed: 20,Very favorably,NaN,Unfamiliar (N/A),Somewhat favorably,Very unfavorably
Unnamed: 21,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Somewhat favorably
Unnamed: 22,Unfamiliar (N/A),NaN,Unfamiliar (N/A),Somewhat favorably,Neither favorably nor unfavorably (neutral)
Unnamed: 23,Unfamiliar (N/A),NaN,Unfamiliar (N/A),Somewhat unfavorably,Very favorably
Unnamed: 24,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Somewhat favorably
Unnamed: 25,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Somewhat favorably
Unnamed: 26,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Very unfavorably
Unnamed: 27,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Somewhat favorably
Unnamed: 28,Very favorably,NaN,Unfamiliar (N/A),Very favorably,Somewhat favorably
Which character shot first?,I don't understand this question,NaN,I don't understand this question,I don't understand this question,Greedo
Are you familiar with the Expanded Universe?,Yes,NaN,No,No,Yes
Do you consider yourself to be a fan of the Expanded Universe?æ,No,NaN,NaN,NaN,No
Do you consider yourself to be a fan of the Star Trek franchise?,No,Yes,No,Yes,No
Gender,Male,Male,Male,Male,Male
Age,18-29,18-29,18-29,18-29,18-29
Household Income,NaN,"$0 - $24,999","$0 - $24,999","$100,000 - $149,999","$100,000 - $149,999"
Education,High school degree,Bachelor degree,High school degree,Some college or Associate degree,Some college or Associate degree
Location (Census Region),South Atlantic,West South Central,West North Central,West North Central,West North Central

In [ ]:
Now that the data looks clean, lets start the analysis.

# Highest/Lowest ranked Star Wars Movie:

In [ ]:
swdf[swdf.columns[9:15]].mean()

Considering it was suggested that the respondants rank their favorite movies from 1-5 where 1 would be their favorite movie and 5 will be their least favorite movie it seems like ranking_5 or the movie "Star Wars : The Empire Strikes Back" as the best rated so far with it's rating being 2.5 and the movie_3 i.e "Revenge of the sith" was the lowest rated movie here.

In [ ]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

index = ["Star Wars: Episode I  The Phantom Menace",
    "Star Wars: Episode II  Attack of the Clones",
    "Star Wars: Episode III  Revenge of the Sith",
    "Star Wars: Episode IV  A New Hope",
    "Star Wars: Episode V The Empire Strikes Back",
    "Star Wars: Episode VI Return of the Jedi"]

plt.bar(range(6), swdf[swdf.columns[9:15]].mean())
plt.xticks(range(6),index,rotation = "vertical")
plt.xlabel("Star Wars movies preference chart(1:most favorite, 5: least favorite)")
plt.ylabel("Rating from surveymonkey users")

Note : The last 3 movies were actually published earlier and are considered as "Original movies" which seems to be rated way higher than the first 3 prequels.

# Most/Least viewed Star Wars Movie:

In [ ]:
swdf[swdf.columns[9:15]].sum()

In [ ]:
plt.bar(range(6), swdf[swdf.columns[9:15]].sum())
plt.xticks(range(6),index,rotation = "vertical")
plt.xlabel("Star Wars movies viewer chart")
plt.ylabel("Number of viewers who have seen that movie")

Looks like 'Empire Strikes Back' was seen by the least amount of people here, even if they liked it better. 'Revenge of the Sith' was seen by more people, but was rated as low quality, which probably is a good signal of it's quality. Also, the first three movies were published later, when Star wars already had a fan base, so it's possible that many people who expected better didn't like the prequel realeases.

# Gender Based Segmentation to understand Viewer Preference:

In [ ]:
males = swdf[swdf["Gender"] == "Male"]
females = swdf[swdf["Gender"] == "Female"]

In [ ]:
males[males.columns[9:15]].mean()

In [ ]:
plt.bar(range(6), males[males.columns[9:15]].mean())
plt.xticks(range(6),index,rotation = "vertical")
plt.xlabel("Star Wars Movies preference chart for Male Viewers(1:Most Favorite, 5:Least Favorite)")
plt.ylabel("Rating from Surveymonkey Users")

In [ ]:
females[females.columns[9:15]].mean()

In [ ]:
plt.bar(range(6), females[females.columns[9:15]].mean())
plt.xticks(range(6),index,rotation = "vertical")
plt.xlabel("Star Wars Movies preference chart for Female Viewers(1:Most Favorite, 5:Least Favorite)")
plt.ylabel("Rating from Surveymonkey Users")

'Empire Strikes Back' was rated as the best movie both by male and female viewers, but it does seem like male users hated the prequels more, considering female users seemed to like the first movie of the prequel i.e 'Phantom Menace'. 'Revenge of the Sith' is hated by both male and female viewers, but personally I thought it was great!!

# Star Wars Movie rating breakdown plot by Gender:

In [ ]:
N = 6
menMeans = males[males.columns[9:15]].mean()


ind = np.arange(N)  # the x locations for the groups
width = 0.40       # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(ind, menMeans, width, color='r')

womenMeans = females[females.columns[9:15]].mean()
rects2 = ax.bar(ind + width, womenMeans, width, color='y')

#Add some text for labels, Title and Axes ticks
ax.set_ylabel('Star wars Movie rating by Gender(1:Most Favorite,5:Least Favorite)')
ax.set_xticks(ind + width)
ax.set_xticklabels(index, rotation = "vertical")

ax.legend((rects1[0], rects2[0]), ('Men', 'Women'))


plt.show()

# Star Wars Viewer count breakdown plot by Gender:

In [ ]:
N = 6
menMeans = males[males.columns[9:15]].sum()


ind = np.arange(N)  # the x locations for the groups
width = 0.40       # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(ind, menMeans, width, color='g')

womenMeans = females[females.columns[9:15]].sum()
rects2 = ax.bar(ind + width, womenMeans, width, color = '#000fff')

#add some text for labels, title and axes ticks
ax.set_ylabel('Star wars Viewer Counts')
ax.set_xticks(ind + width)
ax.set_xticklabels(index, rotation = "vertical")

ax.legend((rects1[0], rects2[0]), ('Men', 'Women'))


plt.show()